@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

.products-container {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  margin-top: 30px;
}

p {
  margin-left: 5px;
}

header {
  background-color: #F9E7E7;
  border-bottom: 1px solid darkgray;
  box-shadow: 0px 2px rgb(211, 211, 211);
  height: 72px;
}

.home-banner {
  margin-top: 40px;
  margin-bottom: 40px;
}

.initial-modal-back, .transaction-modal-back {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.initial-modal-content {
  background-color: white;
  width: 60%;
  height: 72vh;
  border-radius: 10px;
  box-shadow: 0px 0px 2px gray;
  border: 2px solid rgb(146, 144, 144);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.initial-modal-title {
  font-size: 40px;
  color: #BA7BA1;
  font-weight: bolder;
}

.modal-button {
  background-color: #BA7BA1;
  color: white;
  margin-left: 42%;
  padding: 10px;
}

.modal-button:hover {
  color: rgb(255, 230, 255);
}

.start-modal {
  background-color: #F9E7E7;
  border-bottom: 1px solid darkgray;
}

.modal-disclaimer {
  margin: 4%;
  vertical-align: center;
  font-size: 20px;
}

.hidden {
  display: none;
}

.header-title, .header-definition {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-weight: bolder;
  color: #BA7BA1;
  margin-top: 0.5%;
  margin-right: 3%;
  margin-left: 5%;
}

.header-title:hover {
  cursor: pointer;
  color: white;
}

.header-definition {
  font-style: normal;
  font-size: 13px;
  margin-top: 1%;
}

.nav-bar {
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
  box-shadow: 1px 1px rgb(211, 211, 211);
  background-color: #F9E7E7;
  width: 102%;
}

.nav-link, .nav-clicked {
  display: inline-block;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-left: 25px;
  color: #BA7BA1;
}

.nav-clicked {
  color: white;
  text-shadow: 1px 1px 3px rgb(143, 143, 143);
}

.nav-clicked:hover {
  cursor: pointer;
}

.nav-link:hover {
  cursor: pointer;
  color: white;
}

.square {
  float: left;
  position: relative;
  width: 290px;
  height: 470px;
  margin: 1%;
  overflow: hidden;
}

.single-product {
  width: 60%;
  height: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-long {
  margin-top: 10px;
}

.product-info {
  margin-left: 5%;
}

.product-image {
  height: 62%;
  width: 99%;
  padding: 10px;
}

.product-description {
  display: block;
  text-align: left;
  font-size: 15px;
}

.product-image:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #F9E7E7;
}

.cart-item {
  margin-bottom: 5px;
}

.item-title {
  margin-top: 10px;
}

.item-image {
  height: 250px;
  width: 240px;
  padding-top: 20px;
}

.item-count {
  display: block;
  color: #BA7BA1;
  margin-bottom: 10px;
  font-weight: bold;
}

.item-total{
  padding-top: 30px;
  font-weight: bold;
  color: #BA7BA1;
}

.product-title {
  font-size: 18px;
  color: #BA7BA1;
  font-weight: bolder;
  display: block;
  margin-top: 20px;
}

.product-name {
  display: block;
  margin-top: 20px;
  text-align: left;
  font-size: 18px;
  font-weight: bolder;
}

.product-name:hover {
  cursor: pointer;
  color: #BA7BA1;
}

.product-details-name {
  margin-top: 10px;
  font-size: 30px;
  padding-top: 50px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  color: #BA7BA1;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.product-details-image1, .product-details-image2 {
  width: 270px;
  height: 270px;
  padding: 10px;
  margin-top: 10px;
}

.product-details-image2 {
  margin-top: 0px;
}

.price {
  color: #BA7BA1;
  display: block;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: 10px;
}

.view-details {
  margin: 15px;
  display: block;
}

.add-cart {
  display: block;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #BA7BA1;
  color: white;
}

.add-modal-content {
  background-color: white;
  width: 40%;
  height: 30vh;
  border-radius: 10px;
  box-shadow: 0px 0px 2px gray;
  border: 2px solid rgb(146, 144, 144);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.add-modal-button {
  background-color: #BA7BA1;
  color: white;
  margin-top: 8%;
  margin-left: 17%;
  padding: 10px;
  display: inline-block;
}

.add-cart:hover, .add-modal-button:hover, .remove-modal-button:hover {
  color: rgb(255, 230, 255);
}

.shopping-cart {
  height: 40px;
  display: inline-block;
  margin-left: 5px;
}

.returnCatalog {
  font-size: 17px;
  margin-left: 5%;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 1px lightgray;
}

.back {
  margin-top: 2%;
}

.returnCatalog:hover {
  cursor: pointer;
  color: #BA7BA1;
}

.cart-header:hover{
  cursor: pointer;
  color: white;
}

.empty-cart {
  margin-top: 20px;
}

.cart-container {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 3px;
  padding: 15px;
  box-shadow: 1px 1px 1px lightgray;
  width: 85%;
  margin-left: 4%;
  margin-bottom: 3%;
}

.cart-title {
  color: #BA7BA1;
  margin-left: 5%;
  font-weight: bold;
}

.delete-cart {
  display: block;
  color: #BA7BA1;
  font-size: 17px;
  margin-top: 10px;
}

.delete-cart:hover {
  cursor: pointer;
  color: red;
}

.remove-modal-content {
  background-color: white;
  width: 40%;
  height: 45vh;
  border-radius: 10px;
  box-shadow: 0px 0px 2px gray;
  border: 2px solid rgb(146, 144, 144);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.remove-item-container {
  margin-left: 30%;
}

.remove-modal-button {
  background-color: #BA7BA1;
  color: white;
  margin-left: 22%;
  padding: 10px;
  display: inline-block;
  margin-top: 2%;
}

.checkout, .place-order {
  padding: 10px;
  background-color: #BA7BA1;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.place-order {
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 70%;
  padding: 8px;
}

.place-order:hover {
  color: rgb(255, 230, 255);
}

.checkout:hover {
  color: rgb(255, 230, 255);
  border: 1px 1px solid gray;
}

.checkout-total {
  color: #BA7BA1;
  margin-top: 10px;
  font-weight: bold;
}

.form-container {
  padding: 20px;
  width: 60%;
}

.credit-card {
  margin-top: 0px;
}

.credit-card-name, .shipping-name {
  margin-top: 20px;
}

.shipping-address {
  height: 200px;
}

.field-check {
  font-size: 15px;
  color: red;
  display: inline-block;
}

.transaction-modal {
    background-color: white;
    width: 45%;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 0px 0px 2px gray;
    border: 2px solid #BA7BA1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.modal-title {
  font-weight: bold;
  text-align: center;
  font-size: 21px;
  margin-top: 10px;
}

.modal-message {
  margin-top: 10%;
  left: 50%;
}

.quantity {
  border: 1px solid #BA7BA1;
  width: 70px;
  margin-top: 5px;
}

.quantity-confirm {
  color: red;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.cart-summary-container {
  height: 100%;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 1px 1px 1px lightgray;
}

.order-item-title {
  font-size: 15px;
  margin-top: 10px;
}

.disclaimer {
  color: red;
}

.order-item-price, .order-item-count {
  color: #BA7BA1;
  display: block;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: 5px;
}

.scroll {
  opacity: 0.8;
  background-color: #BA7BA1;
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
}

.scroll:hover {
  cursor: pointer;
  opacity: 1;
}

.up-arrow {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 40%;
  left: 47%;
  margin-top: -9px;
  margin-left: -5px;
}

@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2)  {

  header, .nav-bar, .products-container {
    overflow-x: hidden;
    width: 155%;
  }

  .nav-link, .nav-clicked {
    font-size: 25px;
  }

  .header-definition {
    font-size: 15px;
  }

  .home-banner {
    width: 155%;
  }

  .square {
    width: 310px;
    height: 580px;
  }

  .products-container {
    margin-left: 12%;
    width: 140%;
  }

  .product-name {
    font-size: 22px;
  }

  .product-description {
    font-size: 18px;
  }

  .initial-modal-content {
    width: 60%;
    height: 60vh;
  }

  .modal-button {
    margin-left: 43%;
  }

  .shopping-cart {
    margin-left: 0px;
  }

  .single-product {
    height: 78%;
    overflow-y: hidden;
    margin-top: 5%;
  }

  .product-details-image1, .product-details-image2 {
    height: 400px;
    width: 400px;
    margin-top: 25px;
  }

  .product-details-name {
    font-size: 35px;
  }

  .product-price, .product-title, .item-title {
    font-size: 30px;
  }

  .product-long, .price, .delete-cart {
    font-size: 25px;
  }

  .quantity {
    width: 100px;
    height: 50px;
  }

  .returnCatalog {
    overflow-x: visible;
    border: none;
    border-radius: none;
    box-shadow: none;
    font-size: 25px;
  }

  .cart-container {
    width: 140%;
  }

  .checkout, .place-order, .add-cart, .modal-button {
    padding: 18px;
  }

  .checkout-container {
    width: 140%;
    height: 100%;
  }

  .order-item-title {
    font-size: 20px;
  }

  .order-item-count, .order-item-price {
    font-size: 17px;
  }
}

@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

  .initial-modal-back {
    background-color: rgba(0,0,0,1);
  }

  .initial-modal-content {
    width: 80%;
    height: 70vh;
  }

  .initial-modal-title {
    font-size: 35px;
  }

  .modal-disclaimer {
    font-size: 35px;
  }

  .modal-button {
    display: none;
  }
}

@media only screen
  and (min-width: 375px)
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  .header-definition {
    font-size: 18px;
  }

  .initial-modal-content {
    width: 60%;
    height: 120vh;
  }

  header, .nav-bar {
    width: 225%;
    overflow-x: hidden;
  }

  .nav-link, .nav-clicked {
    font-size: 25px;
  }

  .price {
    font-size: 20px;
  }

  .product-image {
    height: 55%;
    width: 100%;
    padding: 10px;
  }

  .products-container {
    width: 200%;
    margin-left: 12%;
  }

  .square {
    height: 580px;
  }

  .product-name, .delete-cart {
    font-size: 23px;
  }

  .product-description {
    font-size: 20px;
  }

  .cart-container {
    width: 200%;
  }

  .product-details-name {
    font-size: 35px;
  }

  .product-price, .product-title, .item-title {
    font-size: 30px;
  }

  .quantity {
    width: 75px;
    height: 50px;
  }

  .checkout-container {
    width: 220%;
    height: 100%;
  }

  .order-item-title, .product-long {
    font-size: 20px;
  }

  .order-item-count, .order-item-price {
    font-size: 17px;
  }

  .single-product {
    height: 78%;
    overflow-y: hidden;
    margin-top: 5%;
  }

  .add-cart, .checkout, .place-order {
    padding: 15px;
  }

  .product-details-image1, .product-details-image2 {
    height: 310px;
    width: 310px;
  }

  .returnCatalog {
    font-size: 25px;
    border: none;
    border-radius: none;
    box-shadow: none;
  }

}

@media only screen
  and (min-width: 375px)
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .initial-modal-back {
    background-color: rgba(0,0,0,1);
  }

  .initial-modal-content {
    width: 80%;
    height: 110vh;
  }

  .initial-modal-title {
    font-size: 35px;
  }

  .modal-disclaimer {
    font-size: 35px;
  }

  .modal-button {
    display: none;
  }
}
